@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var value = 0;
    string[] fruits = { "Apple", "Banana", "Kiwi" };
}

@if (value % 2 == 0) //
{
    <p>The value is even</p>
}
else if (value > 10)
{
    <p>The value is over 10 and odd</p>
}
else
{
    <p> The number is odd and less than 10</p>
}

@switch (value)
{
    case 1:
        <p>The value is 1!</p>
        break;
    case 10:
        <p>Value is 10</p>
        break;
    default:
        <p>It's not 1</p>
        break;
}

@foreach (var fruit in fruits)
{
    <p>@fruit is a delicious fruit</p>
}


@using (Html.BeginForm())
{
    <div>
        Email: <input type="email" id="email">
        <button>Register</button>
    </div>
}

@try
{
    @* if (value == 0)
        {
        throw new InvalidOperationException("You did something invalid");
        } *@
    <p>dividing 100 by @value results in @(100 / value)</p>
    <p>This is displayed after the division</p>
}
catch (Exception e)
{
    <p>You cannot divide by 0!</p>
}
finally
{
    <p>Have a nice day</p>
}

<!-- <div>Some div out in the world</div> -->